<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Custom Opacity</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.ethxnn88.visibleislandprefs</string>
        <key>key</key>
        <string>transEnabled</string>
        <key>label</key>
        <string>Use Custom Opacity</string>
        <key>PostNotification</key>
        <string>com.ethxnn88.visibleislandprefs-updated</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>label</key>
        <string>Blue</string>
        <key>default</key>
        <real>1.0</real>
        <key>min</key>
        <real>0.0</real>
        <key>max</key>
        <real>1.0</real>
        <key>showValue</key>
        <true/>
        <key>PostNotification</key>
        <string>com.ethxnn88.visibleislandprefs-updated</string>
        <key>defaults</key>
        <string>com.ethxnn88.visibleislandprefs</string>
        <key>key</key>
        <string>alpha</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Custom Color</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.ethxnn88.visibleislandprefs</string>
        <key>key</key>
        <string>colorEnabled</string>
        <key>label</key>
        <string>Use Custom Color</string>
        <key>PostNotification</key>
        <string>com.ethxnn88.visibleislandprefs-updated</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Red</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>label</key>
        <string>Red</string>
        <key>default</key>
        <real>0.0</real>
        <key>min</key>
        <real>0.0</real>
        <key>max</key>
        <real>1.0</real>
        <key>showValue</key>
        <true/>
        <key>PostNotification</key>
        <string>com.ethxnn88.visibleislandprefs-updated</string>
        <key>defaults</key>
        <string>com.ethxnn88.visibleislandprefs</string>
        <key>key</key>
        <string>red</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Green</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>label</key>
        <string>Green</string>
        <key>default</key>
        <real>0.0</real>
        <key>min</key>
        <real>0.0</real>
        <key>max</key>
        <real>1.0</real>
        <key>showValue</key>
        <true/>
        <key>PostNotification</key>
        <string>com.ethxnn88.visibleislandprefs-updated</string>
        <key>defaults</key>
        <string>com.ethxnn88.visibleislandprefs</string>
        <key>key</key>
        <string>green</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Blue</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>label</key>
        <string>Blue</string>
        <key>default</key>
        <real>0.0</real>
        <key>min</key>
        <real>0.0</real>
        <key>max</key>
        <real>1.0</real>
        <key>showValue</key>
        <true/>
        <key>PostNotification</key>
        <string>com.ethxnn88.visibleislandprefs-updated</string>
        <key>defaults</key>
        <string>com.ethxnn88.visibleislandprefs</string>
        <key>key</key>
        <string>blue</string>
      </dict>
    </array>
    <key>title</key>
    <string>Color and Opacity</string>
  </dict>
</plist>